<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать в News Portal</title>
</head>
<body>
    <h1>Добро пожаловать, {{ user.username }}!</h1>

    <p>
        Спасибо за регистрацию в News Portal. Подтвердите адрес электронной
        почты, чтобы активировать учётную запись.
    </p>

    <p>
        <a href="{{ activate_url }}">Активировать учётную запись</a>
    </p>

    <p>Если вы не регистрировались на сайте, просто проигнорируйте письмо.</p>
</body>
</html>
