{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о новых новостях!" }} </h3>

   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Название</td>
               <td>Дата</td>
               <td>Описание</td>
           </tr>

           {% for post in news %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.created_at|date:"d.m.Y" }}</td>
               <td>{{ post.text|censor|slice:":20" }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}
